:root {
  --white: hsl(0, 0%, 100%);
  --red: hsl(1, 90%, 64%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --blue: hsl(219, 85%, 26%);
}


.notificationContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 12px;
  border-radius: 8px;
}

.commented {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 12px;
  border-radius: 8px;
}

.notificationContainer:hover, .commented:hover {
  cursor: pointer;
  background-color: var(--light-grayish-blue-2);
}

.notificationContainer:hover .message, .commented:hover .message {
  background-color: var(--white);
}

.personName {
  font-size: 14px;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.description {
  margin-top: 0;
  margin-bottom: 5px;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayish-blue);
}

.postName {
  font-size: 14px;
  font-weight: 800;
  color: var(--dark-grayish-blue);
}

.groupName {
  font-size: 14px;
  font-weight: 800;
  color: var(--blue);
}

.time {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayish-blue);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red);
  margin-left: 8px;
  box-shadow: 0 0 4px 0 var(--red);
}

.message {
  margin-top: 8px;
  padding: 1.2rem;
  border-radius: 5px;
  border: 1px solid var(--light-grayish-blue-1);
  color: var(--grayish-blue);
  font-size: 14px;
}

.commentedImg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 15px;
}